<!DOCTYPE html>
<html lang="fr">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/commun/header.css">
    <link rel="stylesheet" href="../assets/css/commun/footer.css">
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <title>Tableau de Bord</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header>
        <img src="../assets/images/logo.avif" alt="logo">

        <nav>
            <h4>Connecté en tant que <span id="username"></span></h4>
            <button onclick="deconnexion()" id="deconnexion">Se déconnecter</button>
        </nav>
    </header>

    <main>
        <div id="content" style="display: none;">
            <div id="contacts">
                <div class="invitations-section">
                    <h3>Invitations en attente</h3>
                    <div id="invitationsList"></div>
                </div>

                <hr>

                <h3>Mes contacts</h3>
                <div id="contactsList"></div>
                
                <div class="nouveauContact">
                    <dialog id="favDialog">
                    <form id="formInvitation">
                        <div class="formNouveauContact">
                            <h3><strong>Nouveau contact</strong></h3>
                            <label for="nomNouveauContact">Pseudo :</label>
                            <input type="text" name="nomNouveauContact" id="nomNouveauContact">
                        </div>
                        <div>
                        <button type="button" id="cancelBtn">Annuler</button>
                        <button type="submit">Envoyer l'invitation</button>
                        </div>
                    </form>
                    </dialog>
                    <p>
                    <button id="showDialog">Nouveau contact</button>
                    </p>
                </div>
            </div>

            <div id="discussion">
                <div class="messages" id="messagesList"></div>
                <div class="rediger" id="messageForm" style="display: none;">
                    <form id="sendMessageForm" enctype="multipart/form-data">
                        <textarea id="messageRediger" name="message" placeholder="Écrire un message..." rows="1"></textarea>
                        <div id="piece-jointe-container">
                            <div class="piece-jointe-menu">
                                <label for="uploadImage" class="upload-btn"><img src="../assets/images/image.png" alt="Ajouter une image"></label>
                                <input type="file" id="uploadImage" name="image" accept="image/png, image/jpeg, image/webp">
                                <label for="uploadVideo" class="upload-btn"><img src="../assets/images/video.png" alt="Ajouter une vidéo"></label>
                                <input type="file" id="uploadVideo" name="video" accept="video/mp4">
                            </div>
                            <button type="button" name="piece-jointe" id="piece-jointe"><img src="../assets/images/pieceJointe.png" alt="Ajouter une pièce jointe"></button>
                        </div>
                        <button type="submit" name="envoyer" id="envoyer"><img src="../assets/images/envoyer.png" alt="Envoyer le message"></button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <h5>© 2026 Pierre</h5>
    </footer>

    <script src="../assets/javascript/dashboard.js" defer></script>
</body>
</html>
